:root {
  --primary: #4d96a9;
  --secondary: #855fb1;
  --primary-light: #8fe3f9;
  --secondary-light: #d9b8ff;
  --primary-transparent: #4d96a9e6;
  --primary-hover: #71c0d4;
  --secondary-hover: #b18bdd;
  --black: #28283d;
  --gray: #87879d;
  --gray-transparent: #87879d40;
  --white: #fafafa;
  --weight-regular: 500;
  --weight-bold: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  padding-top: 3rem;
  overflow-x: hidden;
}
@media (min-width: 90rem) {
  body {
    padding-top: 4rem;
  }
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  color: white;
  border-radius: 1.8125rem;
  font-weight: var(--weight-bold);
  line-height: 1.625em;
  cursor: pointer;
}
.button--download {
  padding: 1rem 2.5rem;
}
.button--what-is-it {
  padding: 1rem 1.8125rem;
}
.button--primary {
  background-color: var(--primary);
}
.button--primary span {
  color: var(--primary-light);
}
.button--primary:hover {
  background-color: var(--primary-hover);
}
.button--secondary {
  background-color: var(--secondary);
}
.button--secondary span {
  color: var(--secondary-light);
}
.button--secondary:hover {
  background-color: var(--secondary-hover);
}

.section-break {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid var(--gray-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--weight-bold);
  color: var(--gray);
  line-height: 1.625em;
  background-color: var(--white);
}
.section-break--first {
  margin-top: 9.25rem;
  position: relative;
}
@media (min-width: 40rem) {
  .section-break--first {
    margin-top: 10.25rem;
  }
}
@media (min-width: 90rem) {
  .section-break--first {
    margin-top: 12.125rem;
  }
}
.section-break--second {
  position: absolute;
  left: calc(50% - 1.75rem);
  top: -1.75rem;
}
.section-break::before {
  content: "";
  display: block;
  background-color: var(--gray-transparent);
  position: absolute;
  left: 50%;
  top: -5.25rem;
  height: 5.25rem;
  width: 1px;
}

.hero-section__heading {
  margin: 0 1.5rem 1.5rem;
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: var(--weight-bold);
  color: var(--black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 40rem) {
  .hero-section__heading {
    text-shadow: none;
    font-size: 3rem;
    line-height: 3rem;
  }
}
.hero-section__text {
  margin: 0 1.5rem 2rem;
  color: var(--gray);
  font-weight: var(--weight-regular);
  line-height: 1.625rem;
  max-width: 28.5625rem;
}
@media (min-width: 40rem) {
  .hero-section__text {
    margin: 0 0 2rem;
  }
}
@media (min-width: 90rem) {
  .hero-section__text {
    font-size: 1.125rem;
    max-width: 33.75rem;
  }
}
.hero-section__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 40rem) {
  .hero-section__button-container {
    flex-direction: row;
  }
}

.first-section {
  margin: 0 1.5rem 11rem;
}
@media (min-width: 40rem) {
  .first-section {
    margin: 0 0 12rem;
  }
}
@media (min-width: 90rem) {
  .first-section {
    margin: 0 0 11.5rem;
  }
}
.first-section__heading {
  color: var(--black);
  margin: 0 auto 2rem;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: var(--weight-bold);
  max-width: 27.8125rem;
}
@media (min-width: 40rem) {
  .first-section__heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
.first-section__subheading {
  color: var(--primary);
  font-weight: var(--weight-bold);
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media (min-width: 40rem) {
  .first-section__subheading {
    margin-bottom: 1rem;
  }
}
.first-section__text {
  font-weight: var(--weight-regular);
  line-height: 1.625em;
  color: var(--gray);
  max-width: 35.8125rem;
  margin: 0 auto;
  max-width: 35.8125rem;
}
@media (min-width: 90rem) {
  .first-section__text {
    font-size: 1.125rem;
    max-width: 33.75rem;
  }
}

.footer {
  width: 100%;
  padding: 5.75rem 1.5rem 4.5rem;
  background-image: url(/assets/mobile/image-footer.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px var(--primary-transparent);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 40rem) {
  .footer {
    background-image: url(/assets/tablet/image-footer.jpg);
    padding: 5.75rem 0 4.125rem;
  }
}
@media (min-width: 90rem) {
  .footer {
    background-image: url(/assets/desktop/image-footer.jpg);
    flex-direction: row;
    padding: 0 10.3125rem;
    height: 19.25rem;
  }
}
.footer__heading {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: var(--weight-bold);
  color: var(--white);
  margin-bottom: 1.5rem;
}
@media (min-width: 40rem) {
  .footer__heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 90rem) {
  .footer__heading {
    max-width: 21.875rem;
    margin: 0 7.8125rem 0 0;
    text-align: left;
  }
}
.footer__text {
  font-weight: var(--weight-regular);
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--white);
  margin-bottom: 2rem;
  max-width: 35.8125rem;
}
@media (min-width: 40rem) {
  .footer__text {
    margin: 0 auto 2.5rem;
  }
}
@media (min-width: 90rem) {
  .footer__text {
    max-width: 21.875rem;
    margin: 0 5.75rem 0 0;
    text-align: left;
  }
}

.gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 4rem 1.5rem;
}
@media (min-width: 40rem) {
  .gallery {
    margin: 4.1875rem 0 3rem;
    gap: 0.6875rem;
  }
}
@media (min-width: 90rem) {
  .gallery {
    margin: 4rem 0 5rem;
    gap: 1.875rem;
  }
}
.gallery__image {
  width: 9.4375rem;
  height: 8.9375rem;
  border-radius: 0.5rem;
}
@media (min-width: 90rem) {
  .gallery__image {
    width: 15.9375rem;
    height: 15.125rem;
    border-radius: 0.5rem;
  }
}

.logo {
  margin-bottom: 3.375rem;
}
@media (min-width: 40rem) {
  .logo {
    margin-bottom: 4rem;
  }
}
@media (min-width: 90rem) {
  .logo {
    margin-bottom: 4rem;
  }
}

.mobile-hero {
  width: calc(100% + 2.5rem);
  margin-bottom: 3rem;
}
@media (min-width: 40rem) {
  .mobile-hero {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 90rem) {
  .mobile-hero {
    display: none;
  }
}

.desktop-hero-container {
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 90rem) {
  .desktop-hero-container {
    flex-direction: row;
    width: calc(100% + 4rem);
  }
}
.desktop-hero-container .desktop-hero {
  display: none;
}
@media (min-width: 90rem) {
  .desktop-hero-container .desktop-hero {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */